In [15]:
import pandas as pd
import os.path

In [21]:
#using relative path to abc file
fullpath = os.path.abspath('../conteo_ciclico_may_2023//abc_mayo_23.xlsx')

In [20]:
df_clasificacion = pd.read_excel(fullpath, sheet_name="Hoja1")

In [22]:
#filtering desired columns and rows

df_abc = df_clasificacion[['articulo','descripcion','clasificacion']]
df_abc = df_abc.dropna()

In [26]:
#adding count quantity for each code based on ABC
def cantidad_segun_abc(df):
    lista_cantidad = []
    for i in df['clasificacion']:
        if i == "A":
            lista_cantidad.append(3)
        elif i=="B":
            lista_cantidad.append(2)
        else:
            lista_cantidad.append(1)
    df['cantidad'] = lista_cantidad
    return df

In [24]:
df_abc_base = cantidad_segun_abc(df_abc)

In [25]:
df_abc_base

     articulo                              descripcion clasificacion  cantidad
0        7038                    BRAHMA - X12 1000RET#             A         3
1       25668                    PEPSI NF PET X6 500CC             A         3
2        7634                     BRAHMA - 4X6 LAT 473             A         3
3       25644                     7-UP NF PET X6 500CC             A         3
4        7026                    QUILMES - X12 1000RET             A         3
..        ...                                      ...           ...       ...
318     78068             STA MAZO DE CARTAS BUDWEISER             C         1
320     78131          VINO MALBEC MISTERIO X6 0,750 L             C         1
321     78141  TOSTADAS DE ARROZ MOLINOS ALA X24 150GR             C         1
325     78233           YERBA MATE CACHAMATE X12 500GR             C         1
326     78244                   STA HAMACA CORONA 2021             C         1

[225 rows x 4 columns]