In [1]:
import dates_generation as dg
import os.path
import pandas as pd

Dates generation

In [2]:
def date_generation_process(month,year,holidays_list):
    holidays_list = dg.convert_string_to_date(holidays)
    days_list = dg.weekdays_list(month,year)
    business_days_list = dg.generate_date_from_list(month,year,days_list)
    real_business=dg.extract_holidays_from_weekdays(business_days_list, holidays_list)
    list_of_dates = dg.create_list_of_dates(real_business)
    dictionary = dg.create_dataframe_dictionary(list_of_dates)
    return dictionary

In [3]:
holidays = ["05-05-23","04-05-23"]

In [4]:
dates_dictionary = date_generation_process(5,2023,holidays)

2023-05-01 00:00:00
2023-05-02 00:00:00
2023-05-03 00:00:00
2023-05-06 00:00:00
2023-05-08 00:00:00
2023-05-09 00:00:00
2023-05-10 00:00:00
2023-05-11 00:00:00
2023-05-12 00:00:00
2023-05-13 00:00:00
2023-05-15 00:00:00
2023-05-16 00:00:00
2023-05-17 00:00:00
2023-05-18 00:00:00
2023-05-19 00:00:00
2023-05-20 00:00:00
2023-05-22 00:00:00
2023-05-23 00:00:00
2023-05-24 00:00:00
2023-05-25 00:00:00
2023-05-26 00:00:00
2023-05-27 00:00:00
2023-05-29 00:00:00
2023-05-30 00:00:00
2023-05-31 00:00:00

In [5]:
dates_dictionary['01-05-2023']

Empty DataFrame
Columns: [articulo, descripcion, chess, wms, fisico]
Index: []

Dataframe base ABC clasification

In [6]:
import dataframe_class_base as dcb

In [7]:
#read ABC base file
fullpath = os.path.abspath('.//abc_mayo_23.xlsx')

df_clasificacion = pd.read_excel(fullpath, sheet_name="Hoja1")

In [8]:
df_abc = dcb.cantidad_segun_abc(df_clasificacion)

In [9]:
df_abc

     articulo                              descripcion clasificacion  cantidad
0        7038                    BRAHMA - X12 1000RET#             A         3
1       25668                    PEPSI NF PET X6 500CC             A         3
2        7634                     BRAHMA - 4X6 LAT 473             A         3
3       25644                     7-UP NF PET X6 500CC             A         3
4        7026                    QUILMES - X12 1000RET             A         3
..        ...                                      ...           ...       ...
318     78068             STA MAZO DE CARTAS BUDWEISER             C         1
320     78131          VINO MALBEC MISTERIO X6 0,750 L             C         1
321     78141  TOSTADAS DE ARROZ MOLINOS ALA X24 150GR             C         1
325     78233           YERBA MATE CACHAMATE X12 500GR             C         1
326     78244                   STA HAMACA CORONA 2021             C         1

[225 rows x 4 columns]

DB Operations

In [10]:
import sqlite_db_generation as sqlgen
import sqlite3

In [11]:
sqlgen.create_db("abc_quantity.db","abc")

In [12]:
sqlgen.insert_article_df_into_db(df_abc,"abc_quantity.db","abc")

In [13]:
sqlgen.select_an_article("abc_quantity.db","abc",25668)

(25668, 'PEPSI NF PET X6 500CC', 'A', 3)

In [22]:
sqlgen.select_random_article("abc_quantity.db","abc","A")

(11522, 'GATORADE FRU TRO * X6 PET 500#', 'A')